extends layout

block content
  h1= title
  p Welcome #{title}
   button(type="button", class="btn btn-secondary", onclick = "goFaster()") Press Me
 br
  div(id="faster") Increase the speed
  div(id="faster") Increase the speed
  script.
    let mph = 20;
    let change = 1;

    function goFaster(){
      mph += change;
      change++;

      let result = document.getElementById("faster");

      result.innerHTML = "MPH " + mph + " with change" + change;
    }
  br
  br
  